body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px; /* Adatta la larghezza dell'immagine */
    height: 24px; /* Adatta l'altezza dell'immagine */
    background: url('images/crosshair.png') no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
}

#instructions {
    position: absolute;
    top: 10%; /* Sposta la scritta in alto al centro */
    width: 100%;
    text-align: center;
    font-size: 64px;
    color: white;
    font-weight: bold;
    visibility: hidden;
}

#instructions span {
    color: yellow;
}
